	<ion-view view-title=" Faqs" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-faqs" class="page-faqs">
		

<ion-list class="card list">
	<div>
		<ion-item class="item item-colorful noborder" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}" ><i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i> <span>Eripuit adipisci vix ea?</span></ion-item>
		<ion-item class="item item-text-wrap" ng-show="isGroupShown(1)">Soluta pericula mel ad, sumo deterruisset consequuntur usu te</ion-item>
	</div>
	<div>
		<ion-item class="item item-colorful noborder" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}" ><i class="icon" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i> <span>Prima torquatos comprehensam?</span></ion-item>
		<ion-item class="item item-text-wrap" ng-show="isGroupShown(2)">Illud diceret explicari nec ut, tation evertitur et eos</ion-item>
	</div>
	<div>
		<ion-item class="item item-colorful noborder" ng-click="toggleGroup(3)" ng-class="{active: isGroupShown(3)}" ><i class="icon" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i> <span>Alia clita dissentias sit cu?</span></ion-item>
		<ion-item class="item item-text-wrap" ng-show="isGroupShown(3)">Tation intellegebat vix an, nam ubique docendi ad. An integre convenire scribentur mel.</ion-item>
	</div>
</ion-list>
<br/>
<br/>
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
