	<ion-view view-title=" About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class=" page-about_us">
		
<div class="padding scroll">

    <div class="padding about-us-box">
        <h2>Newspaper</h2>
        <div>
            Advanced WordPress Newspaper Full Mobile Application
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about-us-box">
     
      <a class="item item-icon-left" ng-click="openURL('https://facebook.com/fonebayinc')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('https://twitter.com/fonebayinc')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      
       <a class="item item-icon-left" ng-click="openURL('mail://fonebayinc@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        For Business Cooperation
        <p>
            Email: fonebayinc@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/>
<br/>
<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
